* {
    padding: 1px;
    font-size: medium;
}

#hamburger-menu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: .5rem .75rem;
  background-color: rgb(250, 113, 184);
  color: #1b1a1a;
}

.hamburger-menu i {
  font-size: 2rem;
  color: #333;
  cursor: pointer;
}

#hamburger-menu::before {
  content: "=";
}

header {
    background-color: rgb(250, 113, 184);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Balanced layout for left, center, right */
    align-items: center;
    max-width: 1400px;
    padding: 35px;
}

header h1 {
    justify-self: start; /* Nudges it slightly to the right within its column */
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

nav {
    background-color: rgb(250, 113, 184);
}

.navigation {
  list-style: none;
  margin: 0 auto;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: #1b1a1a;
  font-weight: 700;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, .navigation a:active {
    border: 1px solid #fff;
    font-weight: 800;
    text-decoration: none;
    background-color: lightskyblue;
}

.show li {
  display: block;
}

#hamburger-menu.show::before {
  content: "X";
}

body {
    background-color: rgb(252, 216, 221);
    margin: auto;
}

main h2 {
    text-align: center;
}

main {
    max-width: 1400px;
    margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.temples figure {
  margin: 0;
  text-align: center;
}

.temples img {
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.temples img:hover {
  transform: scale(1.05);
}

footer {
    text-align: center;
    background-color: rgb(250, 113, 184);
}