* {
    padding: 1px;
    font-size: medium;
}

header {
    background-color: rgb(250, 113, 184);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Balanced layout for left, center, right */
    align-items: center;
    max-width: 1400px;
    padding: 35px;
}

header h1 {
    justify-self: start; /* Nudges it slightly to the right within its column */
    margin-left: 9rem;
    font-size: 1.5rem;
    font-weight: bold;
}

nav {
    justify-self: end; /* Pushes the nav to the far right */
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    flex-wrap: wrap;
    align-items: center;
    text-align: right;
}

nav a {
  display: block;
  color: #1b1a1a;
 
}

header nav:hover {
    color: darkcyan;
    font-weight: 800;
    text-decoration: none;
}

body {
    background-color: rgb(252, 216, 221);
    margin: auto;
}

main h2 {
    text-align: center;
}

main {
    max-width: 1400px;
    margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: start;
  grid-row: auto;
}

.temples figure {
  margin: 0;
  text-align: center;
}

.temples img {
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.temples img:hover {
  transform: scale(1.05);
}

footer {
    text-align: center;
    background-color: rgb(250, 113, 184);
}